body {
    font-family: 'Space Mono', monospace;
    background-color: hsl(172, 67%, 80%);
}

h1 {
    font-size: 16px;
    word-wrap: break-word;
    letter-spacing: 5px;
    width: 60px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    margin: 2em auto;
}

h2 {
    display: grid;
    font-size: 16px;
    margin-bottom: 5px;
    color: hsl(180, 5%, 41%);
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}

.inputBar {
    display: grid;
    text-align: right;
    font-size: 24px;
    font-family: 'Space Mono', monospace;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 330px;
    padding: 0px 15px;
    color: hsl(182, 13%, 67%);
    background-color: hsl(202, 50%, 96%);
}

.grid-container {
    display: grid;
    grid-template-columns: 400px 400px;
    border-radius: 15px;
    height: 400px;
    width: 810px;
    background-color: hsl(0, 0%, 100%);
    margin: 30px auto auto;
}

.bodyCalc {
    border-radius: 15px;
    height: 380px;
    width: 390px;
    margin: 10px;
}

.resultCalc {
    border-radius: 15px;
    height: 380px;
    width: 390px;
    margin: 10px;
    background-color: hsl(186, 14%, 43%);
}

.bill {
    width: 350px;
    margin: 2em auto;
}

.tip-buttons {    
    width: 350px;
    margin: 2em auto;
}

.tip-buttons button {
    font-size: 24px;
    font-family: 'Space Mono', monospace;
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    margin: 5px 0px;
    background-color: hsl(183, 100%, 14%);
}

.tip-buttons input {
    display:inline-block;
    vertical-align: bottom;
    text-align: center;
    height: 35px;
    width: 100px;
    padding: 2px;
    margin-bottom: 5px;
}

.people-number {
    vertical-align: bottom;
    width: 350px;
    margin: 3em auto 0px;
}

.tip-person {
    display: inline-block;
}

.tip-person-value {
    display: inline-block;
}

.attribution {
    text-align: center;
    margin: 100px auto;
}