body {
    font-family: 'Space Mono', monospace;
    background-color: hsl(185, 41%, 83%);
}

header {
    text-align: center;
    margin: 3em auto;   
}

h2 {
    display: grid;
    font-size: 16px;
    margin-bottom: 5px;
    color: hsl(180, 5%, 41%);
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}

p {
    font-size: 12px;
    margin: 0px;
    margin-bottom: 16px;
    color: hsl(180, 5%, 41%);
}

span {
    display: none;
    margin-left: 55px;
    color: hsl(12, 52%, 59%);
}

.inputBar {
    display: grid;
    text-align: right;
    font-size: 24px;
    font-family: 'Space Mono', monospace;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 330px;
    padding: 0px 15px;
    color: hsl(183, 100%, 14%);
}

.inputBar::placeholder {
    color: hsl(183, 18%, 66%);
}

.inputBar:hover {
    border: solid;
    border-color: hsl(172, 31%, 52%);
}

.inputBar:focus {
    border: solid hsl(172, 31%, 52%) !important;
    outline-offset: 0px !important;
    outline: none !important;
}

.grid-container {
    display: grid;
    grid-template-columns: 400px 400px;
    border-radius: 15px;
    height: 400px;
    width: 810px;
    background-color: hsl(0, 0%, 100%);
    margin: 30px auto auto;
}

.bodyCalc {
    border-radius: 15px;
    height: 380px;
    width: 390px;
    margin: 10px;
}

.resultCalc {
    border-radius: 15px;
    height: 380px;
    width: 390px;
    margin: 10px;
    background-color: hsl(183, 100%, 14%);
}

.bill {
    width: 350px;
    margin: 2em auto;
}

.bill input {
    background: url(../images/icon-dollar.svg) no-repeat scroll 10px 10px;  
    background-color: hsl(202, 50%, 96%);  
}

.tip-buttons {    
    width: 350px;
    margin: 2em auto;
}

.tip-buttons button {
    font-size: 24px;
    font-family: 'Space Mono', monospace;
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    margin: 5px 0px;
    background-color: hsl(183, 100%, 14%);
}

.tip-buttons button:hover {
    color: hsl(183, 100%, 14%);
    background-color: hsl(173, 59%, 76%);
}

.tip-buttons input {
    display:inline-block;
    vertical-align: bottom;
    text-align: center;
    height: 35px;
    width: 96px;
    padding: 2px;
    margin-bottom: 5px;
}

.people-number {
    vertical-align: bottom;
    width: 350px;
    margin: 2em auto 0px;
}

.people-number h2 {
    display: inline-block;
}

.people-number input {
    background: url(../images/icon-person.svg) no-repeat scroll 10px 10px;
    background-color: hsl(202, 50%, 96%);  
}

.tip-person {
    text-align: left;
    margin: 2em;
}

.total-person {
    text-align: left;
    margin: 2em;
}

.tip-person h2 {
    display: inline-block;
    font-size: 13px;
    text-align: left;
    margin-right: 1em;
    color: hsl(100, 100%, 100%);
}

.total-person h2 {
    display: inline-block;
    font-size: 13px;
    text-align: left;
    margin-right: 1em;
    color: hsl(100, 100%, 100%);
}

.tip-person-value {
    display: inline-block;
    font-size: 55px;
    text-align: right;  
    color: hsl(171, 67%, 45%);
}

.total-person-value {
    display: inline-block;
    font-size: 55px;
    text-align: right; 
    color: hsl(171, 67%, 45%);
}

.tip-person-value img {
    width: 20px;
}

.total-person-value img {
    width: 20px;
}

.button-subimit {
    font-family: 'Space Mono', monospace;
    text-align: center;
    border: none;
    border-radius: 5px;
    width: 326px;
    height: 40px;
    margin: 25px 2rem 0px;
    color: hsl(183, 100%, 14%);
    background-color: hsl(171, 67%, 45%);
}

.button-subimit:hover {
    background-color: hsl(173, 59%, 76%);
}

.button-subimit:disabled {
    background-color: hsl(183, 78%, 23%);;
}

.attribution {
    text-align: center;
    margin: 100px auto;
}